*{
    margin: 0;
    padding: 0;
}

/* Tablet Screen */
@media (min-width: 801px) and (max-width: 1200px) {
    .loader{
        overflow: hidden;
    }
    
    .background{
        height: 800px;
    }

    .logo{
        width: 15%;
    }

    .logo img{
        width: 70px;
        height: 70px;
    }

    .hamburger {
        display: flex;
        background-color: transparent;
        position: relative;
        right: -9px;
    }

    .nav-options {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        height: fit-content;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 15px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .contact-con .button{
        width: 180px;
    }


    .nav-options .list {
        flex-direction: column;
        gap: 20px;
        width: 200px;
        height: 290px;
        background-color: transparent;
    }

    .nav-options.show {
        display: flex;
        flex-direction: column;
    }

    .hero{
        height: 700px;
    }

    .hero h1{
        font-size: 60px;
        text-align: center;
    }

    .hero .para{
        width: 65%;
        font-size: 18px;
    }

    .CTA{
        width: 54%;
    }

    .desc-num{
        width: 40%;
    }

    .num{
        font-size: 30px;
    }

    .box p{
        font-size: 12px;
    }

    .about{
        height: 1700px;
    }

    .sub-about{
        width: 95%;
        height: 1500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .story{
        width: 100%;
        height: 700px;
    }

    .story h1{
        width: 100%;
        font-size: 35px;
    }

    .story p{
        width: 100%;
        font-size: 18px;
    }

    .mission{
        width: 100%;
        height: 140px;
    }

    .sub-mission{
        width: 94%;
        
    }

    .value{
        width: 100%;
        height: 700px;
    }

    .coreValue{
        gap: 27px;
    }

    .coreValue .box{
        width: 48%;
        height: 205px;
    }

    .coreValue .sub-box{
        width: 88%;
    }

    .classes{
        height: 1800px;
    }

    .sub-classes{
        width: 95%;
        height: 1600px;
    }

    .headText{
        font-size: 40px;
    }
    
    .classCards{
        width: 100%;
        height: 1400px;
        justify-content: center;
    }

    .classCards .card{
        width: 46%;
    }

    .schedule{
        height: 1700px;
    }

    .sub-schedule{
        height: 1500px;
    }

    .contentCon{
        flex-direction: column;
        height: 1065px;
    }

    .scheduleCon{
        width: 100%;
    }

    .benefit{
        width: 90%;
    }

    .reason{
        height: 1250px;
    }

    .sub-reason{
        height: 1050px;
    }

    .reasonFlexbox{
        height: 900px;
        justify-content: center;

    }

    .reasonBox{
        width: 46%;
    }
}



/* Mobile Screen */

@media (min-width: 0) and (max-width: 800px) {
    .loader{
        overflow: hidden;
    }

    .background{
        height: 680px;
    }
    .logo{
        width: 52%;
        display: flex;
        justify-content: flex-start;
        margin-left: 15px;
    }

    .logo img{
        width: 60px;
        height: 60px;
    }

    .hamburger {
        display: flex;
        background-color: transparent;
        position: relative;
        right: -20px;
    }

    .nav-options {
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        width: max-content;
        height: fit-content;
        background-color: rgb(18, 15, 13);
        backdrop-filter: blur(8px);
        padding: 15px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .contact-con .button{
        width: 180px;
    }


    .nav-options .list {
        flex-direction: column;
        gap: 20px;
        width: 200px;
        height: 290px;
        background-color: transparent;
    }

    .nav-options.show {
        display: flex;
        flex-direction: column;
    }

    .hero{
        height: 600px;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
    }

    .floatTag{
        width: 220px;
        margin-left: 0;
    }

    .hero .floatTag p{
        position: absolute;
        font-size: 11px;
        right: 2;
    }

    .hero h1{
        font-size: 35px;
        text-align: center;
        line-height: 45px;
    }

    .hero .para{
        width: 85%;
        font-size: 15px;
    }

    .CTA{
        width: 90%;
        flex-direction: column;
        height: 125px;
    }

    .desc-num{
        width: 85%;
    }

    .num{
        font-size: 29px;
    }

    .box p{
        font-size: 10px;
    }

    .about{
        height: 2290px;
        justify-content: center;
        align-items: center;
    }

    .sub-about{
        width: 90%;
        height: 2250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .story{
        width: 100%;
        height: 880px;
    }

    .story h1{
        width: 100%;
        font-size: 28px;
        line-height: 35px;
    }

    .story p{
        width: 100%;
        font-size: 17px;
    }

    .mission{
        width: 100%;
        height: 145px;
    }

    .sub-mission{
        width: 85%;
    }

    .sub-mission h3{
        font-size: 16px;
    }

    .sub-mission p{
        font-size: 13px;
    }

    .value{
        width: 100%;
        min-height: 1200px;
    }

    .coreValue .box{
        width: 100%;
        height: 175px;
    }

    .coreValue .sub-box{
        width: 85%;
        height: 140px;
    }

    .coreValue .sub-box-icon{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .coreValue .box h3{
        font-size: 17px;
    }

    .coreValue .box p{
        font-size: 13px;
    }

    .classes{
        height: 3000px;
    }

    .sub-classes{
        width: 90%;
        flex-direction: column;
        height: 2900px;
    }

    .headText{
        font-size: 30px;
        text-align: center;
    }

    .paragraph{
        width: 100%;
        font-size: 13px;
    }

    .classCards{
        width: 100%;
        height: 2900px;
        gap: 20px;
    }

    .classCards .card{
        width: 100%;
    }

    .schedule{
        height: 1700px;
    }

    .sub-schedule{
        width: 90%;
        height: 1600px;
    }

    .contentCon{
        flex-direction: column;
        height: 1300px;
    }

    .scheduleCon{
        width: 100%;
        height: 500px;
    }

    .backdrop{
        height: 130px;
    }

    .scheduleBox{
        width: 98%;
        height: 130px;
    }

    .sub-scheduleBox{
        width: 92%;
        height: 100px;
    }

    .sub-scheduleBox .text{
        font-size: 12px;
    }

    .sub-scheduleBox .head{
        height: 45px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    .priceCon{
        width: 100%;
        height: 800px;
    }

    .priceCon .priceFlexcon{
        height: 800px;
    }

    .priceCon .priceFlexcon .priceBox{
        height: 230px;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox{
        width: 92%;
        height: 200px;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox .head{
        height: 95px;
        flex-direction: column;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox .head .desc{
        width: 100%;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox .head .price{
        width: 100%;
        justify-content: flex-start;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox .benefit{
        width: 100%;
        height: 100px;
    }

    .priceCon .priceFlexcon .priceBox .sub-priceBox .benefit .box1{
        align-items: center;
        height: 100px;
    }

    .benefit .box1{
        width: 48%;
    }

    .sub-box1{
        gap: 10px;
        width: 100%;
    }

    .cta p{
        font-size: 13px;
        text-align: center;
    }

    .reason{
        height: 1940px;
    }

    .sub-reason{
        height: 1800px;
        width: 90%;
    }

    .reasonFlexbox{
        height: 1600px;
        gap: 10px;
    }

    .reasonBox{
        width: 100%;
        height: 240px;
    }

    .reasonh3{
        font-size: 17px;
    }

    .reasonParagraph{
        font-size: 13px;
    }
}